@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #080809, #09090b);
  min-height: 100svh;
}

article p {
  margin-bottom: 1rem;
  line-height: 2;
}